:root {
  --primary: rgb(13, 110, 253);
  --secondary: rgb(108, 117, 125);
  --success: rgb(40, 167, 69);
  --danger: rgb(220, 53, 69);
  --light: rgb(248; 249; 250);
  --dark: rgb(52, 58, 64);
}

.app {
  font-family: "Arial", Helvetica, Lato, sans-serif;
}

/* Flexbox ------------------------------------------------------------------ */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-ma {
  justify-content: center;
}

.center-ca {
  align-items: center;
}
/* -------------------------------------------------------------------------- */

.dimensions-inputs-div {
  display: flex;
}

.dimensions-input {
  margin: 1rem;
}

.grid-div {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
